*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

.container{
    display: flex;
}

.lateral-menu{
    background-color: black;
    color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    justify-content: space-around;
}

.lateral-menu ul li{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lateral-menu ul li img{
    margin-bottom: 10px;
}

.settings{
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings svg{
    margin-right: 10px;
}

.content{
    background-color: #F5f6fa;
    width: 100%;
}

.card{
    background-color: #fff;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin: 0 20px;
    height: 132px;
}

.card-small{
    width: 240px;
}

.card-large{
    width: 464px;
}

.card .card-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card .card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.cards-header{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-info h2{
    font-size: 54px;
    font-weight: bold;
    color: #FFba33;
}

.card-info p{
    font-size: 16px;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-large .card-container .card-content:first-child{
    border-right: 1px solid rgba(0, 0, 0, 0.238);
    max-height: 80px;
}

